.top {
  width: 100%;
  height: 100px;
  background-color: white;
  position: sticky;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 999;
  padding: 1rem 6rem;
}

/* .topleft, .topright {
    flex: 1;
    display:flex;
    align-items: center;
    justify-content: center;
} */

.topleft > h1 {
  font-size: 24px;
  font-family: "Varela Round", sans-serif;
  color: rgba(128, 128, 0, 0.452);
}

.topcenter {
  /* flex: 4; */
  width: 70%;
  /* background-color: red; */
  display: flex;
  position: relative;
  /* /* display: flex; */
  /* justify-content: center;
  align-items: center; */ 
  /* background-color: red; */
  /* border: 1px solid red; */
}

.topcenter > form {
  /* width: 600px; */
  background-color: green;
  /* display: flex; */
  /* justify-content: center; */
  /* align-items: center; */
  /* border: 1px solid beige;
  border-radius: 8px;
  align-items: center;
  height: 36px;
  padding-inline: 8px;
  background-color: rgba(255, 255, 252, 0.459); */
}

.topcenter > input {
  width: 100%;
  /* width: 600px; */
  border-radius: 8px;
  border: 1px solid beige;
  background-color: rgba(128, 128, 0, 0.452); 
  padding: 0.7rem 2rem;
  /* height: fit-content; */
  color: black;
}

 input::placeholder {
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgba(0, 0, 0, 0.219);
}

 input:focus {
  outline: none;
}

.topIcon {
  font-size: 20px;
  margin-right: 10px;
  /* background-color: yellow; */
  color: #444;
  cursor: pointer;
}

.topImg {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
}

.topList {
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0;
  list-style: none;
}

.topListItem {
  margin-right: 20px;
  font-size: 18px;
  font-weight: 100;
  cursor: pointer;
}

.topSearchIcon {
  font-size: 18px;
  color: #666;
  cursor: pointer;
  position: absolute;
  right: 2rem;
  top: .7rem;
  /* margin-left: 15px; */
}

.dropdown{
  display: flex;
  flex-direction: column;
  gap: 10px;
  border: 1px solid black;
  width: 80px;
  height: 80px;
}

.dropdown > button {
  border: none;
  background-color: transparent;
}
